//COLORS
$color-grey-dark: #333;
$color-grey-light: #777;
$color-white: #fff;
$color-black: #000;

$color-accent-dark: #035753;
$color-accent-light: #1d8984;

// FONTS
$default-font-size: 1rem;
$headline-h3: 1.25rem;
$headline-h4: 1rem;
